html {
    height: 100%;
    background-color: rgb(35, 88, 232);
    font-family:Arial
}
body {
    background-color: rgb(255, 157, 0);
    width: 700px;
    margin: 0 auto;
    padding: 20px; 
    border: 5px solid black;
    min-height: 100%;
    box-sizing: border-box;
}
h1 {
    margin: 50px;
    padding: 20px 0;
    font-size: 35px;
    font-family:Verdana;
    color:red;
    line-height: normal;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 5px blue;
    text-align: center;
}
img {
    display: block;
    width: 10%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
}
li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
}